<div class="accountpage">
    <div class="profile">
        <img src="https://i.pravatar.cc/300" alt="">
        <h1>Name: {{username}}</h1>
        <h2>Email: {{email}}</h2>
    </div>
    <div class="orders">
        <h1>My Orders</h1>
        <div class="container"> 
            {{#each orders}}
            {{@key}}
            {{#each this}}
            <div class="item">
                <h3>Order 14 {{this.id}}</h3>
                <h3>Order 15 {{id}}</h3>
                <ul class="menuitems">
                   <li>{{this}}</li>
                   <li>{{this.price}}</li> 
                   <li>{{this.category}}</li>  
                </ul>
            </div>
            {{/each}}
            {{/each}}
        </div>
    </div>
</div>