<div class="accountpage">
    <div class="profile">
        <img src="https://i.pravatar.cc/300" alt="">
        <h1>Name: {{username}}</h1>
        <h2>Email: {{email}}</h2>
    </div>
    <div class="orders">
        <h1>My Orders</h1>
        {{#each orders}}
        <div class="order">
            <h3>Order {{@index increment=1}}</h3>
            <div class="item">
                <h4>Item: {{this.Item.name}}</h4>
                <p>Description: {{this.Item.description}}</p>
                <p>Quantity: {{this.quantity}}</p>
            </div>
        </div>
        {{/each}}
    </div>
</div>
